:root{
    --bg-color: rgb(43, 0, 73);
}

body{
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 8px;
}

.sidebar{
    position: fixed;
    margin-top: auto;
    margin-bottom: auto;
    width: 15%;
    height: 100%;
}

.side_set_cont{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input[type="text"]{
    width: 30px;
}

.side_set_cont div:not(.anim_velosity){
    display: flex;
    justify-content: space-between;
}
input[type="color"] {
	-webkit-appearance: none;
    border: none;
    padding: 0;
    margin: 2px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}
.input-cercle{
    position: relative;
    top: -4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
}
.c_1{
    left: 80px;
}
.c_2{
    left: 80px;
}
.c_3{
    left: 80px;
}
.c_4{
    left: 42px;
}
.c_5{
    left: 42px;
}

.side_settings{
    position: fixed;
    top: 132px;
    left: -145px;
    width: 193px;
    height: 500px;
    background-color: darkgoldenrod;

    animation-name: sidebar_anim;
    animation-duration: 2.87s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-delay: 0s;
    animation-fill-mode: both;
}
.side_settings .background_img{
    width: inherit;
    height: 20px;
    background-color: var(--bg-color);
    background-image: url(img/zigzag.png);
    background-repeat: repeat-x;
    background-position: bottom;
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
@keyframes sidebar_anim{
    0% {
        left: -145px;
    }
    100% {
        left: 0px;
    }
}


.info{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.name{
    width: min-content;
    color: rgb(51, 255, 0);
}
.discr{
    width: 310px;
    color: aquamarine;
}

.underlined {
    background-position: 0 1.2em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background.5s;
}
.underlined--gradient {
    background-position: 0 -0.1em;
    background-image: linear-gradient(to right, yellow 0, lightgreen 100%);
}
.underlined--thick {
    background-position: 0 -0.1em;
    background-image: linear-gradient(to right, lightgreen 0%, yellow 100%);
}
.underlined:hover {
    background-size: 100% 100%;
}

.info div p{
    border-style: solid;
    border-width: 2px;
    border-color: tomato;
    border-top: none;
    border-left: none;
    border-right: none;
}
.discr{
    max-width: 450px;
}
.cal_header{
    background-color: aqua;
    display: flex;
    justify-content: center;
}
.week_day{
    font-size: 20px;
    margin-bottom: 0px;
}
.date{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}
.switcher{
    display: flex;
}
.mon span{
    font-size: 25px;
}
.mon{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.cal_body{
    position: relative;
    top: -30px;
    background-color: yellow;
}
.cal_body button{
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    outline: none;
}
.cal_body table button:hover{
    background-color: rgba(128, 128, 128, 0.418);
    border-radius: 100%;
}
.days table tr th{
    color: rgba(61, 58, 58, 0.815);
}
.days table tr td div{
    height: 4px;
}
.days table button.active{
    background-color: rgb(255, 81, 0);
    border-radius: 100%;
}
.cal_body button svg{
    position: relative;
    left: -1px;
    top: 1px;
}