:root{
    --checkbox_height: 50px;   /*512       10.24*/
    --checkbox_gradient_color: darkgoldenrod;
}

img{
    height: 50px;
    position: absolute;
}

.my_lever_checkbox_container{
    width: 45px;
    height: 50px;
    position: relative;
    left: -15px;
    overflow: hidden;
}

.container_gradient{
    box-sizing: border-box;
    width: 200px; /*2000*/
    height: 50px; /*512*/
    padding-left: 1px; /*14*/
    padding-top: 9px; /*104*/
    position: absolute;
}
.gradient{
    width: 208px; /*1972*/
    height: 14px; /*125*/
    background-image: linear-gradient(to right, var(--checkbox_gradient_color) 0%, var(--checkbox_gradient_color) 13.08316430020284%, rgba(0, 0, 0, 0) 50%,  var(--checkbox_gradient_color) 87.62677484787018%, var(--checkbox_gradient_color) 100%);; /* 0px, 258px, 50%, 1728px, 1972px */
}

.lever_footprint_gradient_anim_left{
    animation: lever_footprint_gradient_anim_toLeft 0.2s linear 0s 1 normal forwards;
}
.lever_footprint_gradient_anim_right{
    animation: lever_footprint_gradient_anim_toRight 0.2s linear 0s 1 normal forwards;
}

.anim_of{
    animation-name: none;
}

@keyframes lever_footprint_gradient_anim_toLeft{
    0% {
        left: 0px;
    }
    100% {
        left: -160px; /*-1630*/
    }
}
@keyframes lever_footprint_gradient_anim_toRight{
    0% {
        left: -160px;
    }
    100% {
        left: 0px; /*-1700*/
    }
}

.elem_reverse{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.my_disable{
    display: none;
}