.back_qube{
    background-color: coral;
    width: 60px;
    height: 30px;
    position: fixed;
    left: -5px;
    top: 82px;
}

.gears{
    position: fixed;
}

.pr_gear{
    width: 50px;
    height: auto;
    position: fixed;
    top: 72px;
    left: 10px;
}