:root{
    --bg-color: rgb(43, 0, 73);
}

@font-face { 
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("fonts/open-sans-v17-latin_cyrillic-regular.woff2")
    format("woff2"),
    url("fonts/open-sans-v17-latin_cyrillic-regular.woff")
    format("woff");
} 

body{
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 8px;

    font-family: -apple-system, BlinkMacSystemFont, Open Sans, sans-serif;
    scrollbar-color: #EFEFEF #DBE0E4;
    scrollbar-width: thin!important;
}

.sidebar{
    color: rgb(110, 109, 0);
    font-weight: bolder;
}

.side_settings_content_container{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(52, 49, 73, 0.582);

    display: flex;
    justify-content: center;
}
.side_settings_content{
    height: 100vh;
    width: 90%;
    background-color: rgba(52, 49, 73, 0.849);
}
.settings_h{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13%;
    box-sizing: border-box;

    border-bottom-style: solid;
    border-bottom-color: rgb(41, 59, 83);
    border-bottom-width: 10px;
}
.settings_h h1{
    width: min-content;
    height: min-content;
    font-size: 3em;
    margin: 0px;
}
.side_settings{
    height: 87%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.side_settings > div{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(28, 74, 158, 0.384);
    align-items: center;
    padding: 10px;
}

.cercle_input_container{
    width: 30px !important;
    height: 30px !important;
}

.sidebar span{
    width: min-content;
    height: min-content;
}

input[type="number"]{
    width: 45px;
}


.side_set_cont div:not(.anim_velosity){
    display: flex;
    justify-content: space-between;
}



input[type="color"] {
	-webkit-appearance: none;
    border: none;
    padding: 0;
    margin: 2px;
    position: absolute;
    opacity: 0;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}
.input-cercle{
    position: relative;
    top: 0px;
    right: 0px;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
}
.c_1{
    background-color:  darkgoldenrod;
}
.c_2{
    background-color:  black;
}
.c_3{
    background-color:  white;
}
.c_4{
    background-color:  blueviolet;
}
.c_5{
    background-color:  aqua;
}

.my_svg_anim > svg{
    width: 30px;
    height: auto;
}
.my_svg_anim{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back_color_red{
    background-color: red;
}
.back_color_green{
    background-color: green;
}



.info{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.name{
    width: min-content;
    color: rgb(51, 255, 0);
}
.discr{
    width: 310px;
    color: aquamarine;
    max-width: 450px;
}
.info div p{
    border-style: solid;
    border-width: 2px;
    border-color: tomato;
    border-top: none;
    border-left: none;
    border-right: none;
}

.underlined {
    background-position: 0 1.2em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background.5s;
}
.underlined--gradient {
    background-position: 0 -0.1em;
    background-image: linear-gradient(to right, yellow 0, lightgreen 100%);
}
.underlined--thick {
    background-position: 0 -0.1em;
    background-image: linear-gradient(to right, lightgreen 0%, yellow 100%);
}
.underlined:hover {
    background-size: 100% 100%;
}







.cal_header{
    background-color: aqua;
    display: flex;
    justify-content: center;
}
.week_day{
    font-size: 20px;
    margin-bottom: 0px;
}
.date{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}
.switcher{
    display: flex;
}
.mon span{
    font-size: 25px;
}
.mon{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.cal_body{
    position: relative;
    top: -30px;
    background-color: yellow;
}
.cal_body button{
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    outline: none;
}
.cal_body table button:hover{
    background-color: rgba(128, 128, 128, 0.418);
    border-radius: 100%;
}
.days table tr th{
    color: rgba(61, 58, 58, 0.815);
}
.days table tr td div{
    height: 4px;
}
.days table button.active{
    background-color: rgb(255, 81, 0);
    border-radius: 100%;
}
.cal_body button svg{
    position: relative;
    left: -1px;
    top: 1px;
}




.elem_reverse{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.my_disable{
    display: none;
}