*,
*::before,
*::after {
  box-sizing: border-box;
}

.discr span{
    position: relative;
    overflow: hidden;
    display: block;
}

.discr span::after{
    content: ''; 
    position: absolute; 
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-after 2s cubic-bezier(.77,0, .18,1) forwards;
}

.discr span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
}

/* для каждой строчки отдельно */
.discr span:nth-of-type(1)::before,
.discr span:nth-of-type(1)::after{
    animation-delay: 0s;
}
.discr span:nth-of-type(2)::before,
.discr span:nth-of-type(2)::after{
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: linear;
}
.discr span:nth-of-type(3)::before,
.discr span:nth-of-type(3)::after{
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}